<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>

<body>
    <form method="post" action="/formdata">
        <label for="fname">First name:</label>
        <div class="input">
            <input type="text" name="fname" id="fname">
        </div>
        <label for="lname">Last name:</label>
        <div class="input">
            <input type="text" name="lname" id="lname">
        </div>
        <label for="snumber">Your s-number:</label>
        <div class="input">
            <input type="text" name="snumber" id="snumber">
        </div>
        <div class="button-submit">
            <button type="submit">Submit</button>
        </div>
    
    </form>
</body>

</html>